<% # cookies layout sets the layout to whatever the user last saved %>
<%= cookies[:layout]%> 

<% content_for(:title) { "My super sweet dashboard" } %>

<div class="header">
	<div class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Add/Remove Widgets</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	    <li><a tabindex="-1" href="#" onclick="deleteWidget('welcome')">Delete welcome widget</a></li>
	    <li><a tabindex="-1" href="#"  onclick="deleteWidget('synergy')">Delete Server Load widget</a></li>
	    <li><a tabindex="-1" href="#"  onclick="deleteWidget('buzzwords')">Delete CallTrack Queues Widget</a></li>
	    <li class="divider"></li>
	    <li><a tabindex="-1" href="#" id="fullscreen">Go Fullscreen</a></li>
	    <li class="divider"></li>
	    <li><a tabindex="-1" href="#" onclick="addWidget()">Add example widget</a></li>
    </ul>
    </div>
</div>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" id="welcome">
      <div data-id="welcome" data-view="Text" data-title="CallSource Executive Dashboard" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" id="synergy">
      <div data-id="synergy" data-view="Meter" data-title="Server Load" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2" id="buzzwords">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="CallTrack Queues" data-moreinfo="In thousands"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" id="valuation">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" id="convergence">
      <div data-id="convergence" data-view="Graph" data-title="Conversion Rate" style="background-color:#ff9618"></div>
    </li>
    

  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>